body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 100vh;
}

#counterContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#incrementBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
    background-color: lightgray;
    color: white;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
}

#decrementBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 57%;
    margin-top: 15%;
    background-color: lightgray;
    color: white;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
}

#counterInput {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 47%;
    margin-top: 14.5%;
    border: solid grey 2px;
    height: 50px;
    width: 90px;
    font-size: 24px;
    text-align: center;
    
}

#counterValue {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 49%;
    margin-top: 10%;
    font-size: 24px;
}


#decrementBtn:hover {
    background-color: white;
    color: grey;
}

#incrementBtn:hover {
    background-color: white;
    color: grey;
}